<div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
  <h1>Registro de empleado</h1>
  <form #EmpleadoForm="ngForm" class="form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input name="nombre"
             #nombre="ngModel"
             placeholder="Ingresa tu nombre" 
             type="text" class="form-control" 
             required 
             [(ngModel)]="empleado.nombre">
             {{ empleado.nombre }}
    </div>
    <div
      [hidden]="nombre.valid || nombre.pristine" 
      class="alert alert-danger">
      Es requerido ingresar el nombre.
    </div>
    <div class="form-group">
      <label for="email">Email:</label>    
      <input #email="ngModel"
             name="email"
             placeholder="Ingresa tu email" 
             type="email" class="form-control"
             required [(ngModel)]="empleado.email">
             {{ empleado.email }}
    </div>
    <div
      [hidden]="email.valid || email.pristine" 
      class="alert alert-danger">
      Es requerido ingresar el nombre.
    </div>
    <div class="form-group">
      <label for="direccion">Direccion:</label>    
      <input #direccion = "ngModel"
             name="direccion"
             placeholder="Ingresa tu dirección" 
             type="text" class="form-control" 
             required [(ngModel)]="empleado.direccion">
             {{ empleado.direccion }}
    </div>
    <div class="form-group">
      <label for="telefono">Telefono:</label>    
      <input  #telefono="ngModel"
              name="telefono" 
              placeholder="Ingresa tu telefono" 
              type="tel" class="form-control" 
              required [(ngModel)]="empleado.telefono">
              {{ empleado.telefono }}
    </div>
    <div
      [hidden]="telefono.valid ||  telefono.pristine" 
      class="alert alert-danger">
      Es requerido ingresar el nombre.
    </div>
    <div class="form-group">
      <select
          #departamento = "ngModel"
          name="departamento" class="form-control"
          [(ngModel)]="empleado.departamento">
        <option value="">Selecciona un departamento</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Guardar cambios</button>
  </form>
  {{ EmpleadoForm.value | json }}
  <br>
  <strong>{{ EmpleadoForm.valid }}</strong>
</div>