.ng-valid[required], .ng-valid.required {
    border-right: 5px solid #42A948;
}
.ng-invalid:not(form)  {
    border-right: 5px solid #a94442;
}
.ng-pristine:not(form),.ng-untouched:not(form){
    border-right: 5px solid darkorange;
}