<div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
  <h1>Registro de empleado</h1>
  <form class="form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input name="nombre" 
             placeholder="Ingresa tu nombre" 
             type="text" class="form-control" 
             required 
             [(ngModel)]="empleado.nombre">
             {{ empleado.nombre }}
              
    </div>
    <div class="form-group">
      <label for="email">Email:</label>    
      <input name="email"
             placeholder="Ingresa tu email" 
             type="email" class="form-control" 
             required [(ngModel)]="empleado.email">
             {{ empleado.email }}
    </div>
    <div class="form-group">
      <label for="direccion">Direccion:</label>    
      <input name="direccion" 
             placeholder="Ingresa tu dirección" 
             type="text" class="form-control" 
             required [(ngModel)]="empleado.direccion">
             {{ empleado.direccion }}
    </div>
    {{  diagnostic }}
    <div class="form-group">
      <label for="telefono">Telefono:</label>    
      <input  name="telefono" 
              placeholder="Ingresa tu telefono" 
              type="tel" class="form-control" 
              required [(ngModel)]="empleado.telefono">
              {{ empleado.telefono }}
    </div>
    <div class="form-group">
      <select 
          name="departamento" class="form-control"
          [(ngModel)]="empleado.departamento">
        <option value="">Selecciona un departamento</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Guardar cambios</button>
  </form>
</div>