.ng-valid[required], .ng-valid.required {
    border-right: 5px solid #42A948; /* Muestra un color verde si el elemento fue 
	declarado con la variable required*/
}
.ng-invalid:not(form)  {
   border-right: 5px solid #a94442; /* Crea una clase para cada FormControl noválido */
}
.ng-pristine:not(form),.ng-untouched:not(form){
    border-right: 5px solid darkorange;
}