<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
  <h1>Registro de empleado</h1>
  <div>
  <form #EmpleadoForm="ngForm" (ngSubmit)="OnSubmit(EmpleadoForm)">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input name="nombre"
             #nombre="ngModel"
             placeholder="Ingresa tu nombre" 
             type="text" class="form-control" 
             required
             [(ngModel)]="empleado.nombre"
             minlength="4"
             maxlength="40">
             {{ empleado.nombre }}
    </div>
    <div *ngIf="formErrors.nombre" class="alert alert-danger">
      {{ formErrors.nombre }}
    </div>
    <!--<div  *ngIf="nombre.touched && nombre.errors">
        <div class="alert alert-danger" *ngIf="nombre.errors.required">
          Es requerido ingresar el nombre
        </div>
        <div class="alert alert-danger" *ngIf="nombre.errors.minlength">
          El nombre debe ser contener al menos 5 caracteres 
        </div>
    </div>-->
    <div class="form-group">
      <label for="email">Email:</label>    
      <input #email="ngModel"
             name="email"
             placeholder="Ingresa tu email" 
             type="email" class="form-control"
             required [(ngModel)]="empleado.email">
             {{ empleado.email }}
    </div>
    <div *ngIf="email.touched && email.errors">
        <div class="alert alert-danger" *ngIf="email.errors.required">
          Es requerido ingresar el email
        </div>
    </div>
    <div class="form-group">
      <label for="direccion">Direccion:</label>    
      <input #direccion = "ngModel"
             name="direccion"
             placeholder="Ingresa tu dirección" 
             type="text" class="form-control" 
             required [(ngModel)]="empleado.direccion">
             {{ empleado.direccion }}
    </div>
    <div  *ngIf="direccion.touched && direccion.errors">
        <div class="alert alert-danger" *ngIf="direccion.errors.required">
          Es requerido ingresar la direccion
        </div>
    </div>
    <div class="form-group">
      <label for="telefono">Telefono:</label>    
      <input  #telefono="ngModel"
              name="telefono" 
              placeholder="Ingresa tu telefono" 
              type="tel" class="form-control" 
              required [(ngModel)]="empleado.telefono">
              {{ empleado.telefono }}
    </div>
    <div
      [hidden]="telefono.valid ||  telefono.pristine" 
      class="alert alert-danger">
      Es requerido ingresar el telefono.
    </div>
    <div class="form-group">
      <select
          name="departamento" class="form-control"
          [(ngModel)]="empleado.departamento">
        <option value="">Selecciona un departamento</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
      </select>
    </div>
    <button 
          type="submit" class="btn btn-success"
          [disabled]="!EmpleadoForm.form.valid">
          Guardar cambios
    </button>
  </form>
  </div>
    <div hidden>
  <h2>Haz enviado los siguientes datos:</h2>
  <div class="row">
    <div class="col-xs-3 col-md-3 col-lg-4 col-sm-3">Nombre:</div>
    <div class="col-xs-9 col-md-9 col-lg-8 col-sm-9 pull-left">{{ empleado.nombre }}</div>
    <div class="col-xs-3 col-md-3 col-lg-4 col-sm-3">Email:</div>
    <div class="col-xs-9 col-md-9 col-lg-8 col-sm-9 pull-left">{{ empleado.email }}</div>
    <div class="col-xs-3 col-md-3 col-lg-4 col-sm-3">Direccion:</div>
    <div class="col-xs-9 col-md-9 col-lg-8 col-sm-9 pull-left">{{ empleado.direccion }}</div>
    <div class="col-xs-3 col-md-3 col-lg-4 col-sm-3">Telefono:</div>
    <div class="col-xs-9 col-md-9 col-lg-8 col-sm-9 pull-left">{{ empleado.telefono }}</div>
    <div class="col-xs-3 col-md-3 col-lg-4 col-sm-3">Departamento:</div>
    <div class="col-xs-9 col-md-9 col-lg-8 col-sm-9 pull-left">{{ empleado.departamento }}</div>
  </div>
  <br>
  <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
</div>
{{ control | json }}